<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30001" type="bool" id="notifications.start" default="true" />
        <setting label="30002" type="bool" id="notifications.cancel" default="true" />
        <setting label="30003" type="bool" id="notifications.duration" default="true" />
        <setting label="30004" type="number" id="notifications.duration.value" default="5" enable="eq(-1,true)" />
        <setting label="30005" type="labelenum" id="notifications.duration.unit" lvalues="30040|30041" enable="eq(-2,true)" />
    </category>
    <category label="30100">
        <setting label="30101" type="bool" id="actions.stopmedia" default="true" />
        <setting label="30102" type="bool" id="actions.returntohome" default="true" />
        <setting label="30103" type="bool" id="actions.waitforscreensaver" default="true" />
    </category>
</settings>